body {
  font-family: "Roboto", sans-serif;
}

.container h1 {
  font-family: "Pacifico", cursive;
}

header,
#about-us,
#nav-menu .nav-link.active,
#contact-us button {
  background-color: #e15f41;
}

#menu-navegacao,
.nav-link,
#nav-menu .nav-link.active,
#contact-us button {
  color: white;
}

#cards-title,
.menu-title,
.fs-2,
#nav-menu button,
#us,
label,
#occasions  {
  color: #e15f41;
}

.navbar-brand {
  transition: 0, 2 ease-in-out;
}
.navbar-brand:hover,
#menu-navegacao .nav-link:hover,
.nav-link.active:hover {
  color: rgb(212, 212, 212);
}

#container-occasions,
#contact-us {
  background-color: beige;
}

.nav-item a {
  font-size: 13px;
}

.imagem-carousel {
  width: 90%;
  height: 500px;
  border-radius: 10px;
  margin-left: 5%;
}

@media screen and (max-width: 1023px) {
  .imagem-carousel {
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .imagem-carousel {
    height: 300px;
  }
}

.tab-content img{
  border-radius: 10px;
}

.social-media li {
  list-style: none;
  display: inline;
}

.social-media a {
  text-decoration: none;
  color: #e15f41;
  font-size: 25px;
  margin-right: 1vw;
}

.illustrative-text{
  margin-left: 5px;
  font-size: 11px;
}